.input__label {
  font-size: 15px;
}

.input {
  margin-bottom: 16px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 60%;
}
.invalidMessage {
  color: rgb(247, 121, 99);
  font-size: 85%;
  padding-bottom: 10px;
}
