.base {
  background-color: #246674;
  color: #fff;
  text-align: center;
  padding: 6px;
  margin: 0;
  position: relative;
}

@media (min-width: 800px) {
  .base {
    font-weight: normal;
    border-bottom: 3px solid #ddd;
    background-color: initial;
    color: initial;
    text-align: initial;
    margin: 20px;
    margin-bottom: 0;
    padding: initial;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
